extends "layout.jade"
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1
            .row
                .col-xs-12
                    h1.page-header Bits of Freedom Toolbox 
                .col-xs-12.lead
                    De Internet Vrijheid Toolbox helpt je met adviezen en laat je tools vinden die jouw privacy respecteren. Je vindt hier ook tools die dat juist niet doen, zodat je voor die tools of diensten alternatieven kunt vinden. Ons doel is om jou een geïnformeerde beslissing te laten nemen.
                .col-xs-12
                    .bs-callout.bs-callout-info
                        h4.tb-info3 Moeilijke termen?
                        |We snappen dat dit moeilijke materie is, we proberen zo weinig mogelijk jargon te gebruiken maar soms ontkomen we er niet aan. Let goed op de kleine groene vraagtekens bij de technische termen, je kunt daarop klikken voor uitleg. Dat ziet er zo uit: 
                        abbr(title="VPN staat voor Virtual Private Network, het is een techniek die het mogelijk maakt al je verkeer via een andere computer te leiden. Het kan gebruikt worden om in te loggen in een bedrijfsnetwerk maar het kan er ook voor zorgen dat je je verkeer anonimiseert, wegsluist zonder dat iemand kan meekijken of om censuur te omzeilen.")
                            |VPN
            hr
            h3 Aan de slag!
            | klik op een van de knoppen om naar een overzicht te gaan.
            .row
                .col-xs-12.col-sm-4
                    a.btn.btn-success.btn-lg.btn-block(href="/adviezen/categorie/basistips/") Basistips
                .col-xs-12.col-sm-4
                    a.btn.btn-primary.btn-lg.btn-block(href="/adviezen/categorie/geavanceerd/") Geavanceerd
                .col-xs-12.col-sm-4
                    a.btn.btn-success.btn-lg.btn-block(href="/overzicht/") Totale overzicht
            hr
            .bs-callout.bs-callout-success
                h4.tb-info3 Kom je er niet uit?
                |We begrijpen dat dit moeilijke materie is. We proberen hier alles zo eenvoudig mogelijk uit te leggen maar helaas lukt dat niet altijd. Kom je er niet uit, dan ligt het niet aan jou! We zouden het jammer vinden als je de handdoek in de ring gooit en willen er daarom op wijzen dat we naast deze Toolbox nog een ander initiatief zijn gestart.
                |Het Privacy Café, het Privacy Café is een informele open bijeenkomst van vrijwilligers met technische kennis en een zeer divers publiek. Dus.. kom je er niet uit, kijk dan even op 
                a(href="http://www.privacycafe.nl") www.privacycafe.nl
                |, zoek een datum en locatie (overal in Nederland) uit die jou schikt en kom langs!