extends "layout.jade"
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1
            .row
                .col-xs-12
                    h1.page-header Bits of Freedom Toolbox 
                
                .col-xs-12.lead
                    De Internet Vrijheid Toolbox helpt je met adviezen en laat je tools en diensten vinden die jouw privacy respecteren. Je vind hier ook tools en diensten die dat juist niet doen, zodat je voor die tools of diensten alternatieven kunt vinden. Indicaties bieden geen garanties, ons doel is om jou een geïnformeerde beslissing te laten nemen. Of een tool of dienst jouw veiligheid en privacy respecteert is te herkennen aan de volgende symbolen:
            
            .row     
                i.tb-eye.risk.high.col-sm-1.col-xs-2.text-right
                p.col-xs-10
                    |Dit symbool geeft aan dat de tool of dienst die je hebt geselecteerd je privacy niet of onvoldoende respecteert. Het verdient aanbeveling om hier een alternatief voor te kiezen als je zo'n tool/dienst gebruikt.
            .row     
                i.tb-eye.risk.medium.col-sm-1.col-xs-2.text-right
                p.col-xs-10
                    |Dit symbool geeft aan dat het moeilijk is om vast te stellen of de tool of dienst die je hebt geselecteerd je privacy respecteert en/of voldoende waarborgt, wees voorzichtig met deze tools en diensten.
            .row     
                i.tb-eye-blocked.risk.low.col-sm-1.col-xs-2.text-right
                p.col-xs-10
                    |Dit symbool geeft aan dat de intenties en belangen van de organisatie achter de tool/dienst in overeenstemming zijn met jouw privacy belangen. Deze tools en diensten zijn dus relatief veilig in vergelijking met tools en diensten met het rode of oranje symbool.

            .bs-callout.bs-callout-warning
                h4.tb-warning Het privacy-icoon geeft geen garantie
                |Het risico van afluisteren door geheime diensten is lastig in te schatten. Bedrijven geven liever niet bloot welke informatie zij van jou verzamelen en mogen van de geheime diensten vaak niets loslaten over de gegevensvorderingen die ze krijgen. De werkwijze van de geheime diensten zelf is ook ondoorzichtig en ze hebben veel budget.
                |De technische veiligheid van een tool of dienst wordt niet meegewogen in de weergave van deze iconen. Technische maatregelen zijn veranderlijk, complex en vaak afhankelijk van de gebruiker zelf. Ook is het onmogelijk voor ons om hierin inzicht te krijgen. Wees je dus bewust van de de technische maatregelen die je zelf, aan de hand van onze veiligheidstips, kunt nemen, om zo veilig mogelijk gebruik te maken van clouddiensten.
            
            .row     
                i.tb-closed-source.risk.high.col-sm-1.col-xs-2.text-right
                p.col-xs-10
                    |Dit symbool geeft aan dat de tool of dienst die je hebt geselecteerd commerciële belangen heeft en/of de broncode niet beschikbaar gesteld wordt
                    sup.footnote-ref
                        a.star-1.anchor(href="#fn-*", id="fnref-*")
                    |, dit hoeft niet per se een probleem te zijn maar realiseer je, met name bij gratis diensten – dat deze tools en diensten bestaan om geld te verdienen.
            .row     
                i.tb-open-source.risk.low.col-sm-1.col-xs-2.text-right
                p.col-xs-10
                    |Dit symbool geeft aan dat de tool of dienst die je hebt geselecteerd de broncode van de tool/dienst openbaar heeft gemaakt. Dit is een goed teken omdat iedereen kan controleren of de software veilig is en of de software inbreuk maakt op je privacy of niet.
               
            .bs-callout.bs-callout-success
                h4.tb-info3 Kom je er niet uit?
                |We begrijpen dat dit moeilijke materie is. We proberen hier alles zo eenvoudig mogelijk uit te leggen maar helaas lukt dat niet altijd. Kom je er niet uit, dan ligt het niet aan jou! We zouden het jammer vinden als je de handdoek in de ring gooit en willen er daarom op wijzen dat we naast deze Toolbox nog een ander initiatief zijn gestart.
                |Het Privacy Café, het Privacy Café is een informele open bijeenkomst van vrijwilligers met technische kennis en een zeer divers publiek. Dus.. kom je er niet uit, kijk dan even op 
                a(href="http://www.privacycafe.nl") www.privacycafe.nl
                |, zoek een datum en locatie (overal in Nederland) uit die jou schikt en kom langs!
            hr
            br
            h3 Aan de slag!
            |Tot zover de intro, hieronder vind je een voorselectie om je op weg te helpen...
            br
            br
            .row
                .col-xs-12.col-sm-4
                    a.btn.btn-success.btn-lg.btn-block(href="/overzicht/adviezen/basistips/") Basistips
                .col-xs-12.col-sm-4
                    a.btn.btn-primary.btn-lg.btn-block(href="/overzicht/adviezen/geavanceerd/") Geavanceerd
                .col-xs-12.col-sm-4
                    a.btn.btn-success.btn-lg.btn-block(href="/overzicht/") Overzicht
            hr
            small.footnote.star-1
                |De term broncode betekent voor software wat de bouwtekening voor een gebouw betekent. Het beschrijft alle functies van het programma. Voor jou veiligheid is het beter dat de broncode openbaar is (open source). Iedereen kan dan controleren of er fouten in het ontwerp zitten en deze melden of aanpassen.
                a.footnote-backref(id="fn-*", href="#fnref-*")↩