extends "layout.jade"

mixin make_tile(img_src, title, onliner, icon, href)
    a(href="{{href}}")
        if img_src == ""
            .fp-tile
                .fp-tile-p
                    h4(class="{{icon}}")=title
                    {{onliner}}
        else
            .fp-tile.norpt(style="background-image:url('{{img_src}}');")
                .fp-tile-p
                    h4(class="{{icon}}")=title
                    {{onliner}}
    
block content

    #intro-video
        video(poster="/static/media/video/intro.png", controls)
            source(src="/static/media/video/video.mp4", media="only screen and (min-device-width: 568px)")
            source(src="/static/media/video/video.iphone.mp4", media="only screen and (max-device-width: 568px)")
            source(src="/static/media/video/video.webm")
            source(src="/static/media/video/video.org")

    #header

    .container-fluid                    
        .row
            .col-md-10.col-md-offset-1.col-xs-12.lead
                |De Internet Vrijheid Toolbox helpt je met adviezen en laat je tools vinden die jouw privacy respecteren. Je vindt hier ook tools die dat juist niet doen, zodat je voor die tools of diensten alternatieven kunt vinden. Ons doel is om jou een geïnformeerde beslissing te laten nemen.
            .col-md-10.col-md-offset-1.col-xs-12
                #fp-tiles
                    #fp-tiles-box
                        +make_tile("/static/media/veilig-mobiel.jpg", "Mobiel", "In 5 stappen een veilige mobiel.", "tb-mobile", "/playlist/mobiel/")
                        +make_tile("/static/media/veilig-online.jpg", "Veilig internetten", "6x Vrij en privé online.", "tb-laptop", "/playlist/essentieel/")
                        +make_tile("/static/media/veilig-browsen.jpg", "Browser", "In 3 stappen veilig browsen.", "tb-globe", "/playlist/mobiel/")
                        +make_tile("", "Naar het overzicht", "Toon mij alle adviezen en tools.", "tb-columns", "/overzicht/")
                        +make_tile("/static/media/waarom.jpg", "Waarom", "Internetvrijheid Toolbox ", "tb-info3", "/doc/waarom/")
        .row#fp-callout
            //- Left side callouts
            .col-md-5.col-sm-6.col-md-offset-1
                br.visible-lg
                .bs-callout.bs-callout-success
                    .row
                        .col-xs-2.col-sm-2.col-md-1
                            .icon-info
                        .col-xs-9.col-sm-10.col-md-11
                            .bs-content
                                |Dit is niet altijd even makkelijke materie. Let op de kleine groene vraagtekens bij moeilijke woorden. Je kunt daarop klikken voor uitleg. Dat ziet er zo uit: 
                                abbr(title="VPN staat voor Virtual Private Network, het is een techniek die het mogelijk maakt al je verkeer via een andere computer te leiden. Het kan gebruikt worden om in te loggen in een bedrijfsnetwerk maar het kan er ook voor zorgen dat je je verkeer anonimiseert, wegsluist zonder dat iemand kan meekijken of om censuur te omzeilen.")
                                |VPN

                .bs-callout.bs-callout-success
                    .row
                        .col-xs-2.col-sm-2.col-md-1
                            .icon-pc
                        .col-xs-9.col-sm-10.col-md-11
                            .bs-content
                                |Heb je liever persoonlijk contact? Bezoek dan een 
                                a(href="http://www.privacycafe.nl") Privacy Café 
                                |bij een bibliotheek bij jou in de buurt. Daar helpen vrijwilligers je op weg.

            //- Right side logo
            .col-md-5.col-sm-6
                #tb-bof-logo