//- This file contains the main layout for all pages.
    It is not meant to be used as a template directly.
    Instead, load a content template which "extends" this layout.

//- set html & content type
!!! 5
html(lang="en")
    head

        //- The head is the same for every page and included for simplicity and reusability
        include includes/head

    body

        //- Navbar is another include for simplicity and reusability
        include includes/navbar
        
        //- This div contains the logo's and the drape with the green blocks.
        #header
        
        //- This is the main content div
        #main.container-fluid
        
            //- If set this displays a debug text at the top of the page..
            if page.debug
                {{ page.data.debug }}
            
            //- Filter dropdowns
            if page.show_filters
                .row
                    .col-xs-10.col-xs-offset-1.filterbar
                        i.tb-filter
                        |Toon:
                        for filter in page.data.filters
                            span.dropdown
                                button.btn.dropdown-toggle.btn-default(id="filter-{{loop.index}}", type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
                                    i(class="{{filter.icon}}")
                                    {{filter.name}}
                                    span.caret
                                ul.dropdown-menu(role="menu", aria-labelledby="filter-{{loop.index}}")
                                    for item in filter.children
                                        if item.group
                                            li.dropdown-header(role="presentation")
                                                {{item.name}}
                                        else
                                            li 
                                                a(href="{{item.href}}", class="{{item.icon}}")
                                                    {{item.name}}
                        a.btn.btn-default(href="/{{page.data.itemslug}}/")
                            i.tb-cancel-circle
                            | Reset filters
                    
            //- This is the actual content, this is the actual entry point, this layout is loaded around it.
            block content

        include includes/footer
        if page.playlist
            include includes/playlist_nav