//- This file contains the main layout for all pages.
    It is not meant to be used as a template directly.
    Instead, load a content template which "extends" this layout.

//- set html & content type
!!! 5
html(lang="en","itemscope", itemtype="http://schema.org/Article")
    head
        //- The head is the same for every page and included for simplicity and reusability
        include includes/head

    body

        //- Navbar is another include for simplicity and reusability
        include includes/navbar
        
        //- This div contains the logo's and the drape with the green blocks.
        if page.data.filename != "landing"
            #header
        
        //- This is the main content div
        #main.container-fluid
        
            //- If set this displays a debug text at the top of the page..
            if page.debug
                {{ page.data.debug }}
            
            //- Filter dropdowns
            if page.show_filters
                include includes/filters
                    
            //- This is the actual content, this is the actual entry point, this layout is loaded around it.
            block content

        include includes/footer
        if page.playlist
            include includes/playlist_nav