//- Based on the default layout..
extends "layout.jade"
//- Load thumbnailer and custom dictionary lookup function.
- load thumbnail
- load dictionaryitems
//- Main content can be either an index page with multiple items
    or a single detaild item.
block content
    .container-fluid
        .row
            .col-md-10.col-md-offset-1
    
                //- If there are results.
                if page.data.item
                    
                    //- Go through them one by one.
                    for item in page.data.item
                        br
                        
                        //- Bootstrap panel.
                        .panel.panel-default
                            .panel-heading.container-fluid
                                .row
                                    .col-sm-10.col-xs-12
                                        //- Link to /url_slug/item_slug/ e.g. /tools/tor/.
                                        h3
                                            a(href="/{{item.url_slug}}/{{item.slug}}/") 
                                                if page.data.itemnr
                                                    {{page.data.itemnr}}: {{item.title}}
                                                else
                                                    {{item.title}}
                                        if page.index
                                            each platform in item.platforms.all
                                                i.platform-indicator(class="tb-{{platform.slug}}")    
                                        if page.index == False
                                            //- If the the item has categories, show them all separated by comma
                                                with links to the categorie index.
                                            if item.categories.count > 0
                                                | Categorieën: 
                                                for category in item.categories.all
                                                    
                                                    //- Take the preloaded category link from the dict.
                                                    {% dictitem page.data.nav.categorieslinks category.slug as href%}
                                                    a(href="{{href}}") {{ category.name }}
                                                    if not category == item.categories.last 
                                                        ,
                                                br
                                            
                                            //- If the the item has platforms, show them all separated by comma.
                                            if item.platforms.count > 0
                                                | Platformen: 
                                                for platform in item.platforms.all
                                                    
                                                    //- Take the preloaded platform link from the dict.
                                                    {% dictitem page.data.nav.platformslinks platform.slug as href%}
                                                    a(href="{{href}}") {{ platform.name }}
                                                    if not platform == item.platforms.last 
                                                        ,
                                        
                                            if item.i_am == "tool" or item.i_am == "app"
                                                div
                                                    |Ontwikkelaar: 
                                                    a(href="{{item.author_url}}", target="_blank") {{item.author}}             
                                    .col-xs-12.col-sm-2
                                        //- If a time is set for the item, let the user know how much time
                                            it's gonna take to read this.
                                        if item.time
                                            span.badge.time.pull-right
                                                    span.tb-clock=item.time_formatted
                                        
                                        //- Show how trustworthy an item is, open source? good policy?
                                        .trust
                                            if item.license.open_source
                                                span.tb-open-source.pull-right(data-content="Deze tool is open-source, de broncode is te controleren.",data-toggle="popover",data-placement="bottom",)  
                                            elif item.license.open_source == False
                                                span.tb-closed-source.pull-right(data-content="Deze tool is closed-source, de broncode is niet te controleren.",data-toggle="popover",data-placement="bottom")
                                            if item.risk_class
                                                span.pull-right(class="{{item.risk_class}}",data-content="{{item.risk_text}}",data-toggle="popover",data-placement="bottom")
                                            .clearfix.hidden-xs
                                            if item.cost
                                                if item.i_am == "tool" or item.i_am == "app"
                                                    if item.is_free
                                                        .label.label-success.price.pull-right
                                                            {{ item.format_cost|safe }}
                                                    else
                                                        .label.label-danger.price.pull-right
                                                            {{ item.format_cost|safe }}
                                    //- If this is not an index page, show the urls to download pages etc.
                                    if page.index == False
                                        .col-sm-2.col-xs-12
                                            //- If this is an app you can download it (from multiple sources maybe)
                                                If not, you can only visit the website (one link)
                                                
                                            if item.i_am == "app"
                                                //- More than one url should be put into a dropdown..
                                                if item.app.url_count > 1
                                                    .trust.row
                                                        .btn-group
                                                            button.btn.btn-default.dropdown-toggle.btn-success(type="button",data-toggle="dropdown")
                                                                |Download 
                                                                span.caret
                                                            ul.dropdown-menu(role="menu")
                                                                if item.url
                                                                    li
                                                                        a.tb-globe(href="{{item.url}}", target="_blank") Bezoek
                                                                if item.app.appstore
                                                                    li
                                                                        a.tb-apple(href="{{item.app.appstore_url}}", target="_blank") Appstore
                                                                if item.app.playstore
                                                                    li
                                                                        a.tb-android(href="{{item.app.playstore_url}}", target="_blank") Playstore
                                                                if item.app.marketplace
                                                                    li
                                                                        a.tb-windows(href="{{item.app.marketplace_url}}", target="_blank") Marketplace
                                                else
                                                    .trust.row
                                                        if item.url
                                                            a.btn.btn-default.btn-success.btn-visit.tb-globe(href="{{item.url}}", target="_blank") Bezoek
                                                        if item.appstore
                                                            a.btn.btn-default.btn-success.btn-visit.tb-apple(href="{{item.app.appstore_url}}", target="_blank") Appstore
                                                        if item.playstore
                                                            a.btn.btn-default.btn-success.btn-visit.tb-android(href="{{item.app.playstore_url}}", target="_blank") Playstore
                                                        if item.marketplace
                                                            a.btn.btn-default.btn-success.btn-visit.tb-windows(href="{{item.app.marketplace_url}}", target="_blank") Marketplace
                                            else
                                                .trust.row
                                                    if item.url
                                                            a.btn.btn-default.btn-success.btn-visit.tb-globe(href="{{item.url}}", target="_blank") Bezoek
                            //- Icon and Intro text.
                            .panel-body
                                .lead
                                    if item.has_image
                                        //- Index shows a smaller icon, thumbnailer is user for generatring the thumbnails.
                                        if page.index = False
                                            img.pull-left(src="{{item.image|thumbnail_url:'icon'}}")
                                        else
                                            a(href="/{{item.url_slug}}/{{item.slug}}/")
                                                img.pull-left(src="{{item.image|thumbnail_url:'icon_thumb'}}")
                                    {{ item.intro|safe }}
                                if page.index
                                    a(href="/{{item.url_slug}}/{{item.slug}}/") Lees meer..
                                    //- If this is not an index page, show the actual content.
                                else
                                    .content {{ item.content|safe }}
    
                            //- If this is not an index page, show the pro's, cons and alternatives
                            if page.index == False
                                if item.pros.count > 0 or item.cons.count > 0
                                    .panel-body
                                        .container-fluid
                                            .row
                                               
                                                //- List of pro's in green
                                                if item.pros.count > 0
                                                    ul.list-group.col-sm-6
                                                        li.list-group-item
                                                            h4 Voordelen
                                                        for pro in item.pros.all
                                                            li.list-group-item.list-group-item-success(class="{{pro.icon}}")
                                                                {{ pro.title }}
                                                
                                                //- List of cons in red
                                                if item.cons.count > 0
                                                    ul.list-group.col-sm-6
                                                        li.list-group-item
                                                            h4 Nadelen
                                                        for con in item.cons.all
                                                            li.list-group-item.list-group-item-danger(class="{{con.icon}}")
                                                                {{ con.title }}
                                br
                                .panel-footer
                                    .row
                                        .col-xs-12.social
                                            include includes/social
                                     
                                    .row
                                        .col-xs-6
                                            | Bijdrage: 
                                            br.hidden-md.hidden-lg
                                            if item.credit
                                                {{ item.credit }}
                                            else
                                                {{ item.user.first_name }} {{ item.user.last_name }}
                                        .col-xs-6.text-right                                  
                                            |Gepubliceerd:
                                            br.hidden-md.hidden-lg
                                            {{ item.dateformatted }}               
                                                
                                //- List of alternatives in gray/white
                                if item.alternative.count > 0
                                    .panel-body.alternatives
                                        h4 Alternatieve {{ item.url_slug }}
                                        div.list-group
                                            //- Loop though the list of alternatives..
                                            for alt_tool in item.alternative.all
                                                if alt_tool.published
                                                    a.list-group-item(href="/{{item.url_slug}}/{{ alt_tool.slug }}/") 
                                                        .media
                                                            .media-body
                                                                .row
                                                                    h4.media-heading.col-xs-6
                                                                        {{ alt_tool.title }}
                                                                    if alt_tool.risk_class
                                                                        span.trust.col-xs-6
                                                                            if alt_tool.license.open_source
                                                                                span.tb-open-source.pull-right(data-content="Deze tool is open-source, de broncode is te controleren.",data-toggle="popover",data-placement="bottom")                                          
                                                                            elif alt_tool.license.open_source == False
                                                                                span.tb-closed-source.pull-right(data-content="Deze tool is closed-source, de broncode is niet te controleren.",data-toggle="popover",data-placement="bottom")
                                                                            span.pull-right(class="{{alt_tool.risk_class}}",data-content="{{alt_tool.risk_text}}",data-toggle="popover",data-placement="bottom")
                                                                p.list-group-item-text
                                                                    img.pull-left.media-object(src="{{alt_tool.image|thumbnail_url:'icon_thumb'}}")
                                                                    {{ alt_tool.intro_no_url }}
                                                                    each platform in alt_tool.platforms.all
                                                                        i.platform-indicator(class="tb-{{platform.slug}}")
                        if page.index == false and page.playlist == False and item.i_am == "advice" and item.related.count > 0
                            .list-group.alternatives
                                .list-group-item.active
                                    h4 Gerelateerde {{item.url_slug}}
                                //- Loop though the list of related advisory..
                                for related in item.related.all
                                    if related.published
                                        a.list-group-item(href="/{{item.url_slug}}/{{ related.slug }}/") 
                                            .media
                                                .media-body
                                                    .row
                                                        h4.media-heading.col-xs-6
                                                            {{ related.title }}
                                                    p.list-group-item-text
                                                        img.pull-left.media-object(src="{{related.image|thumbnail_url:'icon_thumb'}}")
                                                        {{ related.intro_no_url }}
                                                        //- each platform in related.platforms.all
                                                            i.platform-indicator(class="tb-{{platform.slug}}")
                        if page.playlist
                            if page.data.next
                                .well
                                    h4 Stap {{page.data.itemnr}} volbracht
                                    p Klik in de groene balk, onderaan het scherm, op de pijltjes voor het volgende advies.
                            else
                                .well
                                    h4 Laatste stap volbracht
                                    p Je bent aan het einde gekomen van dit stappenplan. Als je er nog een wilt volgen klik je in de menubalk boven op "Ik wil..", je kunt ook naar het overzicht van alle adviezen en tools door op de knop hieronder te klikken.
                                    a.btn.btn-success.btn-lg.tb-beer.hidden-xs(href="/overzicht") Naar het overzicht
                                    a.btn.btn-success.btn-lg.tb-beer.visible-xs.btn-block(href="/overzicht") Naar het overzicht
                    //- Pagination, functionality not yet required => Need to set page.data.previouslink and page.data.nextlink!
                        if page.data.paginator.num_pages > 1
                            .row
                                .col-md-10.col-md-offset-1
                                    ul.pager
                                        if page.data.item.has_previous
                                            li.previous
                                                a(href="{{page.data.previouslink}}")
                                                    &larr; Vorige
                                        else
                                            li.previous.disabled
                                                a(href="")
                                                    &larr; Vorige
                
                                        if page.data.item.has_next
                                            li.next
                                                a(href="{{page.data.nextlink}}")
                                                    &rarr; Volgende
                                        else
                                            li.next.disabled
                                                a(href="")
                                                    &rarr; Volgende
                    //- end of commented block
                else
                    p Deze selectie leverde geen resultaten op..
