//- Based on the default layout..
extends "layout.jade"
//- Load thumbnailer and custom dictionary lookup function.
- load thumbnail
- load dictionaryitems
//- Main content can be either an index page with multiple items
    or a single detaild item.
block content
    .row
        .col-md-10.col-md-offset-1
                br
                .panel.panel-default
                        .panel-heading.container-fluid
                            .row
                                .col-sm-10.col-xs-12
                                    h3 
                                        i(class="{{page.data.item.icon}}")
                                        {{ page.data.item.title }}
                                        
                        //- Icon and Intro text.
                        .panel-body
                            .lead
                                {{ page.data.item.intro|safe }}
                                br
                                .row
                                    .col-xs-12.col-sm-10.col-sm-offset-1
                                        .list-group.playlist-list-group.list-group-inverse
                                            for item in page.data.item.playlistorder_set.all
                                                //- Link to /playlist/[playlist]/[nr] e.g. /playlist/essential/1/.
                                                
                                                a.list-group-item(href="/playlist/{{page.data.item.slug}}/{{item.number}}/")
                                                    //- If a time is set for the item, let the user know how much time
                                                        it's gonna take to read this.
                                                    if item.advice.time
                                                        span.badge.time.tb-clock=item.advice.time_formatted                                                
                                                    {{ item.number }}. {{ item.advice.title }}
                        .panel-footer
                            .row
                                .col-xs-6
                                    
                                .col-xs-6.text-right                                  

