.row
    .col-xs-10.col-md-offset-1
        if page.data.filters
            for filter in page.data.filters
                a(href="{{filter.href}}",class="{{filter.class}}")=filter.text
        .row
            .col-xs-4.col-sm-2
                |Toon alleen:
            for dropdown in page.data.nav.navbar
                .col-xs-4.col-sm-2
                    .dropdown
                        button.btn.btn-default.dropdown-toggle(type="button",id="dd-platform",data-toggle="dropdown",aria-expanded="true",class="{{dropdown.icon}}")
                            |{{ dropdown.name }}
                            span.caret
                        ul.dropdown-menu(role="menu", aria-labelledby="dd-platform")
                            li("role"="presentation")
                                
                                    for group in dropdown.children
                                        li.dropdown-header(class="{{group.icon}}")
                                            {{group.name}}
                                        for menuitem in group.children
                                            li
                                                a(href="{{menuitem.href}}",class="{{menuitem.icon}}",role="menuitem")
                                                    {{menuitem.name}}
