#footer
    .container
        .sitemap.row
            .col-sm-offset-1.col-sm-10.col-xs-12
                .row
                for parent in page.data.nav.sitemap
                    .col-xs-6.col-sm-3
                        h4.footer-header(class="{{parent.icon}}")
                            {{ parent.name }}
                        ul
                            for category in parent.children
                                li
                                    a(href="{{category.href}}",class="{{category.icon}}")
                                        {{ category.name }}
                        .clearfix

        .contact.row
            .col-xs-10.col-xs-offset-1
                .row
                    .col-xs-6.col-sm-3.text-center
                        a(href="https://www.bof.nl", target="_blank").tb-bof-logo-color
                            span.font-icon
                            |Bits of Freedom
                    .col-xs-6.col-sm-3.text-center
                        a(href="https://privacycafe.bof.nl/", target="_blank").tb-prica-logo Privacy Café
                    .col-xs-6.col-sm-3.text-center
                        a(href="https://twitter.com/bitsoffreedom", target="_blank").tb-twitter @bitsoffreedom
                    .col-xs-6.col-sm-3.text-center
                        a(href="https://nl-nl.facebook.com/BitsofFreedom", target="_blank").tb-facebook BitsofFreedom
        .legal.row
            .col-xs-10.col-xs-offset-1
                .row
                    .col-xs-12.col-sm-4.text-center
                        a(href="https://creativecommons.org/licenses/by-sa/4.0/", target="_blank")
                            span.tb-cc
                            span.tb-cc-by
                            span.tb-cc-sa cc-by-sa 4.0
                    .col-xs-12.col-sm-4.text-center
                        a(href="/doc/credits")
                            span.tb-like credits
                    .col-xs-12.col-sm-4.text-center
                        a(href="/doc/voorwaarden")
                            span.tb-books voorwaarden
