#header.container-fluid
    .row
        .col-md-7.col-md-offset-1
            img.img-responsive#toolbox_logo(src="/static/media/toolbox.png")
        .col-md-3.hidden-sm.hidden-xs
            img#bof_logo.pull-right(src="/static/media/bof_header.png")
