title {{page.title}}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="/static/css/index.css")
link(rel="shortcut icon" href="/static/media/favicon.ico")
script(src="/static/js/index.js")
if page.data.debug
    script(src="http://localhost:35729/livereload.js?snipver=1")
link(rel="apple-touch-icon", href="/static/media/touch-icon-iphone-precomposed.png")
link(rel="apple-touch-icon", sizes="76x76", href="/static/media/touch-icon-ipad-precomposed.png")
link(rel="apple-touch-icon", sizes="120x120", href="/static/media/touch-icon-iphone-retina-precomposed.png")
link(rel="apple-touch-icon", sizes="152x152", href="/static/media/touch-icon-ipad-retina-precomposed.png")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")