- load dictionaryitems
nav.navbar.navbar-default(role="navigation").navbar-fixed-top.navbar-inverse
    .container-fluid#navbar-container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-navbar-collapse")
                span.sr-only Open navigatie
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.tb-home(href="/", title="Startpagina").font-icon.bigger
            //-ul.nav.navbar-nav.no-collapse
                
        .collapse.navbar-collapse#bs-navbar-collapse
            form.navbar-right.search-form.col-sm-3.col-lg-2(role="search")
               label.sr-only(for="search")=Zoeken
               input#search.form-control(placeholder="Zoeken..",maxlength="40",autocomplete="off")
            ul.nav.navbar-nav.navbar-right
                li
                    a.tb-question(href="/doc/waarom") Waarom
                //-li
                    a.tb-question(href="/faq") FAQ
                li
                    a.tb-envelope(href="/doc/faq") Contact
            ul.nav.navbar-nav
                li.divider-vertical

                li
                    {% dictitem page.data.nav.itemtypelinks 'adviezen' as href%}
                    a.tb-info3(href="{{href}}") Advies
                li
                    {% dictitem page.data.nav.itemtypelinks 'tools' as href%}
                    a.tb-wrench(href="{{href}}") Tools 