.btn-group.pull-right
    a.btn.btn-default.tb-twitter(target="_blank",href="http://twitter.com/intent/tweet?url={{page.meta.permalink|urlencode}}&text={{page.meta.tweet_article|urlencode}}") Tweet
    a.btn.btn-default.tb-facebook(target="_blank",href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href={{page.meta.permalink|urlencode}}&redirect_uri={{page.meta.permalink|urlencode}}") Share
