extends "layout.jade"
block content
    #main.container-fluid
                .row
                    .col-md-8.col-md-offset-2
                        h1.title 404 – Bits Of Freedom Toolbox
                        p.lead Op verzoek van de overheid is deze pagina verwijderd.