extends "layout.jade"
block content
    #main.container-fluid
                .row
                    .col-md-8.col-md-offset-2
                        h1.title 500 – Oops.. Iemand heeft de wesite 
                        p.lead Sorry was niet de bedoeling..