#search_box
{
    margin-top              : 8px;
    @media (max-width: @screen-sm-min)
    {
        max-width           : 100% !important;
        margin              : 0 10px 0 10px;
    }
    // Switch of the browser's outline.
    *:focus                 
    {                       
        outline             : none;
        border-color        : @gray-light;
        -webkit-box-shadow  : none;
        box-shadow          : none;
    }
    // Rounding the input and making space for search icon.               
    input                   
    {                       
        border-radius       : 20px;
        padding             : 4px 28px 0 14px;
    }     
}                           
                            
#search_box .search-results          
{                 
    // In responsive mode, don't allow the dropdown to grow too much          
    @media (max-width: @screen-sm-min)
    {
        max-width           : 100%;
    }
    // Make the dropdown pretty
    border                  : 1px solid rgba(0, 0, 0, 0.2);
    box-shadow              : 0 5px 10px rgba(0,0,0,.2);
    
    // Search result styles             
                             
    // If the text grows too wide, shorten it
    a.suggestion
    {
        // Text matching the query
        strong
        {
            background-color: @bof-color;
            color           : #fff;   
        }
        text-overflow   : ellipsis;
        white-space     : nowrap;
        overflow        : hidden;
    }
}

